fastapi
uvicorn
pydantic
pytest
httpx
llama_index
python-dotenv
llama_index_llms_gemini
langchain
langchain-google-genai
duckduckgo-search
youtube_search
wikipedia
langchainhub
langchain_experimental
langchain_qdrant
qdrant_client